
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #557391; /* Mörk indigo för huvudfärger */
    --color-text: #333333; /* Neutral textfärg */
    --color-border: #cccccc; /* Ljusgrå gräns */
    --color-background: #f9f9f9; /* Ljus bakgrund */


    /*DIGG*/
    --color-gray1: #F0EFEE;
    --color-gray2: #D6D9D3;
    --color-pink1: #F7E4E1
    --color-pink2: #EBC0B8;
    --color-pink3: #CD7A6E;
    --color-brown: #695F59;
  }

  html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    color: #333;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  